/* Styles for the navigation bar */
.navbar-style {
    padding: 1rem 1.5rem;
    background: linear-gradient(to right, #4c51bf, #4299e1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
}

/* Styles for the icon (ContentCutIcon) */
.icon-style {
    margin-right: 0.75rem;
    height: 1.5rem;
    color: white;
}

/* Styles for the brand name text */
.brand-name {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    white-space: nowrap;
}

/* Styles for navigation links */
.link-style {
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    transition: color 0.2s;
}


/* Styles for the username displayed in the dropdown */
.user-name {
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    color: #2d3748;
    /* Gray color */
}

/* Styles for the login link */
.login-style {
    font-size: 1.125rem;
    font-weight: 700;
    color: #63b3ed;
    /* Sky blue color */
    transition: color 0.2s;
}

.login-style:hover {
    color: white;
}

/* Avatar styling */
.avatar-style {
    width: 40px;
    /* Adjusted width */
    height: 40px;
    /* Adjusted height */
    border-radius: 50%;
    /* Ensure it's rounded */
}